button {
    width: 170px;
    margin-top: 10px;
  
}
table {
    margin-top: 20px;
    background-color: gold;
    width: 525px;
    height: 250px;
    border: none;
}

th {
    background-color: gold;
  
}
th:nth-of-type(2) {
    opacity: 0.8;
}
td{ 
    border-bottom: 1px solid gold;
    border-right: 1px solid gold;
    color: white;
    background-color: #023e8a;

}
